<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="$\..\Packages" />
  </config>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="github-railsware" value="https://nuget.pkg.github.com/railsware/index.json" />
  </packageSources>
  <packageSourceMapping>
    <!-- key value for <packageSource> should match key values from <packageSources> element -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
  <packageSourceCredentials>
    <github-railsware>
      <!-- NOTE: Replace USERNAME with your GitHub username when publishing to GitHub Packages -->
      <add key="Username" value="USERNAME" />
      <!-- NOTE: Replace TOKEN with your GitHub personal access token (classic) when publishing to
      GitHub Packages -->
      <add key="ClearTextPassword" value="TOKEN" />
    </github-railsware>
  </packageSourceCredentials>
</configuration>
