# https://editorconfig.org
# https://aka.ms/editorconfigdocs


root = false


# C# files
[*.cs]

# CA5394: Do not use insecure randomness
dotnet_diagnostic.CA5394.severity = none

# CA1812: Avoid uninstantiated internal classes
dotnet_diagnostic.CA1812.severity = suggestion
