# https://editorconfig.org
# https://aka.ms/editorconfigdocs


root = false


# C# files
[*.cs]

# Types: permit var only when the type is clear
# csharp_style_var_when_type_is_apparent = false:suggestion
# csharp_style_var_for_built_in_types = false:suggestion
csharp_style_var_elsewhere = false:suggestion
csharp_style_prefer_top_level_statements = true:silent

# CA2007: Do not directly await a Task
dotnet_diagnostic.CA2007.severity = none

# IDE0007: Use var instead of explicit type
dotnet_diagnostic.IDE0007.severity = suggestion

# IDE0008: Use explicit type instead of var
dotnet_diagnostic.IDE0008.severity = warning

# IDE0051: Remove unused private member
dotnet_diagnostic.IDE0051.severity = suggestion

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = none

# Workaround for https://github.com/dotnet/roslyn-analyzers/issues/5628
# CA1812
dotnet_diagnostic.CA1812.severity = none
