# https://editorconfig.org
# https://aka.ms/editorconfigdocs


# C# files
[*.cs]

# Types: permit var only when the type is clear
# csharp_style_var_for_built_in_types = false:suggestion
# csharp_style_var_when_type_is_apparent = false:suggestion
csharp_style_var_elsewhere = false:suggestion

# Workaround for https://github.com/dotnet/roslyn-analyzers/issues/5628
[Program.cs]
dotnet_diagnostic.ca1812.severity = none